.big-button{
    background:$blue;
    border:none;
    border-bottom: .6rem solid darken($blue,10%);
    color:black;
    font-weight:bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;     
    width: 100%;
}

.big-button:disabled {
    opacity: .5;
}

@media (min-width: $desktop-breakpoint){
    .big-button{
        margin-bottom: $xl-size
    }
}

.button{
    background: $blue;
    border:none;
    border-bottom: .3rem soild darkern($blue,10%);
    color:black;
    font-weight: 500;
    padding: $s-size;
}

.button--link{
    background: none;
    border:none;
    color:$off-blue;
    padding: 0;
}

