.header{
    background: $off-blue;
    color: rgb(245, 239, 239);
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.header__title{
    font-size:$l-size;
    margin: 0;
}

.header__subtitle{
    color: $off-grey;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint){
    .header{
        margin-bottom: $xl-size;
    }
}